.sidebar{
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vh;
}

.main{
  margin-top: 2vh;
  height: 100vh;
  padding-right: 1vw;
}

.container{
  background-image:linear-gradient(180deg, #4b0e0e 0%, #121212 60%);
  height: 83%;
  border-radius: 6px;
  padding: 1% 2.5%;
  overflow-y: overlay;
  overflow-x: hidden;
}

.player{
  height: 12%;
  width: 100%;
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 2%;
  font-size: 10px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
